.containerParticipantes {
    width: 100vw;
    height: 100vh;
    background-color: rgba(9, 6, 6, 0.935);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Participantes {
    width: 30%;
    height: 75vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(5, 5, 5);
    
    align-items: center;
}

.imgParticipante {
    margin-top: 20%;
    width: 350px;
    height: 350px;
    border-radius: 45%;
}

.nombreParticipante {
    font-size: 2rem;
    margin: 1.8rem;
}

.btn1 {
    width: 7%;
    height: 5%;
    font-size: 1.2rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    background-color: rgb(232, 232, 11);
    color: rgb(9, 9, 9);
    border: none;
    position: absolute;
    left: 16%;
    bottom: 13rem;
    cursor: pointer;
    border-radius: 25%;
}

.btn2 {
    width: 7%;
    height: 5%;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(232, 232, 11);
    color: rgb(9, 9, 9);
    border: none;
    position: absolute;
    left: 47%;
    bottom: 13rem;
    cursor: pointer;
    border-radius: 25%;
}

.btn3 {
    width: 7%;
    height: 5%;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(232, 232, 11);
    color: rgb(9, 9, 9);
    border: none;
    position: absolute;
    left: 77%;
    bottom: 13rem;
    cursor: pointer;
    border-radius: 25%;
}
