* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalVentana {
    width: 60%;
    height: 90%;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.xSalir {
    position: absolute;
    right: 1rem;
    top: 2%;
    width: 4%;
}

.xSalir:hover {
    animation: girarXSalida 1.5s infinite;
}

@keyframes girarXSalida {
    0% {
        transform: rotate(10deg);
    }
    50%{
       transform: rotate(180deg); 
       
    }
    100% {
         transform: rotate(360deg);
    }
}

.participanteImg {
    height: 90%;
    width: 50%;
    min-width: 50%;
    object-fit: cover;
}

.infoParticipante {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.nombreParticipante {
    margin: 5px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.ciudadParticipante {
    margin: 5px;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.descParticipante {
    margin: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.imgRedesParticipantes {
    width: 20px;
    height: 20px;
}